/*blue background and black text for the whole page*/
body {
    background-color: #ADD8E6;
    color: #000000;
    font-family: "consolas", Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/*Underlining h2 headers*/
h2 {
    text-decoration: underline;
    white-space: nowrap;
    display: inline;
}

/*Styling buttons with a blue background and white text*/
button {
    background-color: #607ced;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/*Styling input fields with padding and border*/
input[type="text"], input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 3px;
}

/*Styling categories with bold text*/
.category {
    font-weight: bold;
}

/*Putting the instructions in a box with a light blue background and padding*/
#instructions { 
    background-color: #d0e7f9;
    padding: 6px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*Spotify icon styling*/
.fa-spotify {
    font-size: 1.5em;
}